/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 20px;
}

.video-player {
    flex: 3;
}

video {
    width: 100%;
    border: 2px solid #333;
    border-radius: 10px;
}

.video-list {
    flex: 1;
}

.video-list h2 {
    margin-top: 0;
}

.video-list ul {
    list-style-type: none;
    padding: 0;
}

.video-list li {
    margin-bottom: 10px;
}

.video-list a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.video-list a:hover {
    text-decoration: underline;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0;
    
}
